{{page-title "Home"}}

<section class="animated-gradient w-100 d-flex align-items-center justify-content-center">
	<div class="col-lg-4 mx-auto">
		<img src="/assets/img/logo-long.png" id="logo" class="img-fluid">
	</div>
</section>

<img src="/assets/img/pixel-onload.png" alt="pixel-loader" {{on "load" this.animateGSAP}} class="d-none">

{{outlet}}