{{page-title "Home"}}

<section class="animated-gradient w-100 d-flex align-items-center justify-content-center">
	<div class="col-lg-4 mx-auto">
		<img src="/assets/img/logo-long.png" id="logo" class="img-fluid">
	</div>
</section>

<VideoPlayer @id="test1" @streamingURL="https://player.vimeo.com/external/712322260.m3u8?s=0041917ceb8b476bee600d6f85923d472030f4d4" />

<VideoPlayer @id="test2" @streamingURL="https://player.vimeo.com/external/712322260.m3u8?s=0041917ceb8b476bee600d6f85923d472030f4d4" />

<img src="/assets/img/pixel-onload.png" alt="pixel-loader" {{on "load" this.animateGSAP}} class="d-none">

{{outlet}}